@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Plus Jakarta Sans", sans-serif;
  
  --color-brand-navy: #002B49;
  --color-brand-blue: #007AB8;
  --color-brand-teal: #E8F4F8;
  --color-brand-light: #FDFDFB;
}

body {
  @apply font-sans text-[#1F2937] bg-brand-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans text-brand-navy tracking-tight;
}
